[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lisa"]
	path = lisa
	url = https://github.com/tylurp/lisa
	shallow = true
[submodule "RVerbalExpressions"]
	path = RVerbalExpressions
	url = https://github.com/tylurp/rverbalexpressions
	shallow = true
[submodule "vov"]
	path = vov
	url = https://github.com/tylurp/vov
	shallow = true
